# dependencias
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# entorno
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editores
.vscode/*
!.vscode/extensions.json
!.vscode/settings.recommended.json
.idea/
.DS_Store
Thumbs.db

# coverage / cache
coverage/
.turbo/
.cache/
